<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Make A Short URL</title>
</head>
<body>
<h1>Enter summary or Bug ID</h1>
<form action="shortenurl">
    <label for="shortcode">Enter Summary</label>
    <input type="text" name="shortcode" value="" required>
    <input type="submit" value="Submit">
</form>
<br>
<form action="shortenurl2">
    <label for="shortcode2">Enter Bug ID</label>
    <input type="text" name="shortcode2" value="" required>
    <input type="submit" value="Submit">
</form>
</body>
</html>
